# Okta FGA variables
# Found in the Store settings on your Okta FGA dashboard: 
# https://dashboard.fga.dev
FGA_API_URL=https://api.us1.fga.dev
FGA_STORE_ID=01KP80E7EKYE880M639SXBMG47
FGA_API_TOKEN_ISSUER=fga.us.auth0.com
FGA_API_AUDIENCE=https://api.us1.fga.dev/
FGA_CLIENT_ID=nUdDoNRgT8fp09KWbDp0LrzvZx4mpLnA
FGA_CLIENT_SECRET=UPukEDWBLFJvPK1PPqEpsqRmw4qRvliGHqIb8g5MG5-NrJCcLTDyrtwk4KX5lpJY

# Google Gemini 
GOOGLE_API_KEY=

AUTH0_CLIENT_ID=fYTuGkj9lpaAVZ9GAlzYjVMRgAixuefw
AUTH0_CLIENT_SECRET=EKOzx2TEpq42y8ZmaNZsH-VPMCpGhSq2J8s0eaGHEsClGflpA3kOjHAE3sSE3Vte
AUTH0_DOMAIN=pratyush06.us.auth0.com
APP_SECRET_KEY=07ff6e3084e7d223a8fa82d9b6b1ac8c2be6255c614472c9fd6226ed16f102b9

